<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% if (addOrEdit === "add") { %>
    <title>Add a company!</title>

    <% } else if (addOrEdit === "edit") { %>
    <title>Edit company!</title>
    <% } %>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <%-include('../partial/scripts/include_links') %>
  </head>
  <body
    class="px-[20px] py-[20px] sm:px-[60px] sm:py-[40px] md:px-[80px] md:py-[60px] lg:px-[120px] lg:py-[80px] flex justify-start items-start flex-column"
  >
    <% if (addOrEdit === "add") { %>
    <h2>Add a company!</h2>
    <form
      id="addCompanyForm"
      method="post"
      class="mt-4 w-full flex flex-col justify-start items-center gap-y-4"
    >
      <input
        type="text"
        class="form-control w-full"
        placeholder="Company name"
        name="company_name"
        id="company_name"
      />
      <textarea
        type="text"
        class="form-control w-full"
        placeholder="Company address"
        name="company_address"
        id="company_address"
      ></textarea>
      <input
        type="text"
        class="form-control w-full"
        placeholder="Company phone"
        name="company_phone"
        id="company_phone"
      />

      <div class="w-full flex justify-between items-center">
        <a href="/company" class="btn btn-primary">Back</a>

        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </form>
    <% } else if (addOrEdit === "edit" && company != null) { %>
    <h2>Edit company!</h2>
    <form
      action="/company/addEdit/edit"
      id="editCompanyForm"
      method="post"
      class="mt-4 w-full flex flex-col justify-start items-center gap-y-4"
    >
      <input
        type="hidden"
        name="company_id"
        value="<%= company[0].company_id %>"
      />
      <input
        type="text"
        class="form-control w-full"
        name="company_name"
        id="company_name"
        value="<%= company[0].company_name  %>"
      />
      <textarea
        class="form-control w-full"
        name="company_address"
        id="company_address"
      ><%= company[0].company_address %></textarea
      >
      <input
        type="text"
        class="form-control w-full"
        name="company_phone"
        id="company_phone"
        value="<%= company[0].company_phone %>"
      />

      <div class="w-full flex justify-between items-center">
        <a href="/company" class="btn btn-primary">Back</a>

        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </form>

    <% } %>

    <!-- scripts -->

    <%- include('../partial/scripts/include_scripts') %>

    <!-- AJAX CALLS -->
    <script>
      $(document).ready(function () {
        $("#addCompanyForm").submit(function (e) {
          e.preventDefault();
          const company_name = $("#company_name").val();
          const company_address = $("#company_address").val();
          const company_phone = $("#company_phone").val();

          const nullValidation =
            company_name == null ||
            company_address == null ||
            company_phone == null;

          if (nullValidation) {
            alert("Please fill in all the fields.");
            return;
          }

          $.ajax({
            url: "/company/insert",
            method: "POST",
            contentType: "application/json",
            processData: false,
            data: JSON.stringify({
              company_name: company_name,
              company_address: company_address,
              company_phone: company_phone,
            }),
            dataType: "json",
            success: function (response) {
              console.log("Company added successfully:", response);
              $("#addCompanyForm")[0].reset();
            },
            error: function (error) {
              console.error("Error adding company:", error);
            },
          });
        });
      });
    </script>
  </body>
</html>
