<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% if (addOrEdit === "add") { %>
    <title>Add an employee!</title>

    <% } else if (addOrEdit === "edit") { %>
    <title>Edit employee!</title>
    <% } %>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <%-include('../partial/scripts/include_links') %>
    
  </head>
  <body
    class="px-[20px] py-[20px] sm:px-[60px] sm:py-[40px] md:px-[80px] md:py-[60px] lg:px-[120px] lg:py-[80px] flex justify-start items-start flex-column"
  >
    <% if (addOrEdit === "add") { %>
    <h2>Add an employee!</h2>
    <form
      enctype="multipart/form-data"
      id="addEmployeeForm"
      method="post"
      action="/company/employee/insert"
      class="mt-4 w-full flex flex-col justify-start items-center gap-y-4"
    >
      <input type="hidden" name="company_id" value="<%= company_id %>" />
      <div class="w-full flex justify-between items-center gap-x-2">
        <div class="md:text-nowrap md:text-[16px] text-[13px]">
          Employee Name :
        </div>
        <input
          type="text"
          class="form-control w-full"
          placeholder="employee name"
          name="employee_name"
          id="employee_name"
          required
        />
      </div>

      <div class="w-full flex justify-start items-center gap-x-8 md:gap-x-2">
        <div class="text-nowrap md:text-[16px] text-[13px]">Gender :</div>
        <select name="employee_gender" class="form-select" id="employee_gender" required>
          <option selected value="">-</option>

          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>

      <div class="w-full flex justify-start items-center gap-x-8 md:gap-x-2">
        <div class="text-nowrap md:text-[16px] text-[13px]">Birthday :</div>
        <input type="date" class="form-control" name="employee_birthday" required />
      </div>

      <div class="w-full flex justify-between items-center gap-x-2">
        <div class="md:text-nowrap md:text-[16px] text-[13px]">
          Profile Pic :
        </div>
        <input
          type="file"
          class="form-control w-full"
          placeholder="08..."
          name="employee_picture"
          id="employee_picture"
        />
      </div>

      <div class="w-full flex justify-between items-center gap-x-2">
        <div class="md:text-nowrap md:text-[16px] text-[13px]">Phone :</div>
        <input
          type="text"
          class="form-control w-full"
          placeholder="08..."
          name="employee_phone"
          id="employee_phone"
          required
        />
      </div>

      <!-- JANGAN LUPA GANTI INI -->
      <div class="w-full flex justify-between items-center mt-8">
        <a href="/company" class="btn btn-primary">Back</a>

        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </form>

    <!-- edit formss -->
    <% } else if (addOrEdit === "edit" && employee != null) { %>
    <h2>Edit employee!</h2>
    <form
      enctype="multipart/form-data"
      id="addEmployeeForm"
      method="post"
      action="/company/employee/addEdit/edit"
      class="mt-4 w-full flex flex-col justify-start items-center gap-y-4"
    >
      <input type="hidden" name="employee_id" value="<%= employee[0].employee_id %>" />
      <div class="w-full flex justify-between items-center gap-x-2">
        <div class="md:text-nowrap md:text-[16px] text-[13px]">
          Employee Name :
        </div>
        <input
          type="text"
          class="form-control w-full"
          placeholder="employee name"
          name="employee_name"
          id="employee_name"
          value="<%= employee[0].employee_name %>"
        />
      </div>

      <div class="w-full flex justify-start items-center gap-x-8 md:gap-x-2">
        <div class="text-nowrap md:text-[16px] text-[13px]">Gender :</div>
        <select name="employee_gender" class="form-select" id="employee_gender">
          <option value="" <%= employee[0].employee_gender === "" ? "selected" : "" %>>-</option>
          <option value="Male" <%= employee[0].employee_gender === "Male" ? "selected" : "" %>>Male</option>
          <option value="Female" <%= employee[0].employee_gender === "Female" ? "selected" : "" %>>Female</option>
        </select>
      </div>

      <div class="w-full flex justify-start items-center gap-x-8 md:gap-x-2">
        <div class="text-nowrap md:text-[16px] text-[13px]">Birthday :</div>
        <input type="date" class="form-control" name="employee_birthday" value="<%= employee[0].employee_birthday %>" required />
      </div>

      <div class="w-full flex justify-between items-center gap-x-2">
        <div class="md:text-nowrap md:text-[16px] text-[13px]">
          Profile Pic :
        </div>
        <input
          type="file"
          class="form-control w-full"
          placeholder="08..."
          name="employee_picture"
          id="employee_picture"
          value="<%= employee[0].employee_picture %>"
        />
      </div>
      <input type="hidden" name="old_picture" value="<%= employee[0].employee_picture %>" />


      <div class="w-full flex justify-between items-center gap-x-2">
        <div class="md:text-nowrap md:text-[16px] text-[13px]">Phone :</div>
        <input
          type="text"
          class="form-control w-full"
          placeholder="08..."
          name="employee_phone"
          id="employee_phone"
          value="<%= employee[0].employee_phone %>"
        />
      </div>

      <!-- JANGAN LUPA GANTI INI -->
      <div class="w-full flex justify-between items-center mt-8">
        <a href="/company" class="btn btn-primary">Back</a>

        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </form>
    <% } %>

    <%- include('../partial/scripts/include_scripts') %>

  </body>
</html>
