<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <%-include('../partial/scripts/include_links') %>

    <title>Company List</title>
  </head>
  <body class="relative">
    <div
      class="px-[24px] py-[30px] sm:px-[60px] sm:py-[40px] md:px-[80px] md:py-[60px] lg:px-[120px] lg:py-[80px] flex justify-start items-start flex-col"
    >
      <div class="w-full h-20 flex justify-between items-start">
        <h2 class="text-[20px] font-bold">Companies List</h2>

        <form action="/company/addEdit" method="post">
          <input type="hidden" name="tableAction" value="add" />
          <button type="submit" class="btn btn-primary">+</button>
        </form>
      </div>

      <table class="table table-light table-striped-columns">
        <thead>
          <tr class="sm:text-[18px] text-[14px] font-normal">
            <th scope="col">Company Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="">
          <% companies.forEach(company => { %>
          <tr>
            <td scope="row"><%= company.company_name %></td>
            <td><%= company.company_phone %></td>
            <td><%= company.company_address %></td>
            <td
              class="flex justify-start items-center gap-x-2 gap-y-2 flex-wrap sm:flex-nowrap"
            >
              <form action="/company/employee" method="post">
                <input
                  type="hidden"
                  name="company_id"
                  value="<%= company.company_id %>"
                />
                <button
                  type="submit"
                  class="text-[12px] sm:text-[14px] btn btn-primary text-white"
                >
                  view employees
                </button>
              </form>

              <form action="/company/addEdit" method="post">
                <input type="hidden" name="tableAction" value="edit" />
                <input
                  type="hidden"
                  name="company_id"
                  value="<%= company.company_id %>"
                />
                <button type="submit" class="btn btn-warning text-white">
                  edit
                </button>
              </form>

              <button
                type="button"
                class="text-[12px] sm:text-[14px] btn btn-danger text-white deleteCompanyBtn"
                data-company-id="<%= company.company_id %>"
                data-company-name="<%= company.company_name %>"
              >
                delete
              </button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <%- include('../partial/delete_company_modal') %>
    <%-include('../partial/scripts/include_scripts') %>

    <script>
      $(document).ready(function () {
        $(".deleteCompanyBtn").on("click", function () {
          const companyId = $(this).data("company-id");
          const companyName = $(this).data("company-name");

          $("#modalCompanyName").text(companyName);
          $("#deleteCompanyModal").removeClass("hidden");

          $("#confirmDeleteBtn")
            .off("click")
            .on("click", function () {
              $.ajax({
                url: `/company/delete`,
                method: "PUT",
                contentType: "application/json",
                processData: false,
                data: JSON.stringify({
                  company_id: companyId,
                }),
                dataType: "json",
                success: function (response) {
                  console.log("Company deleted successfully:", response);
                },
                error: function (error) {
                  console.error("Error deleting company:", error);
                },
              });
              location.reload();
              $("#deleteCompanyModal").addClass("hidden");
            });
        });
        $("#closeModalBtn").on("click", function () {
          $("#deleteCompanyModal").addClass("hidden");
        });
      });
    </script>
  </body>
</html>
