<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Akshar"
    />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Employee List</title>
  </head>
  <body class="relative">
    <div
      class="px-[24px] py-[30px] sm:px-[60px] sm:py-[40px] md:px-[80px] md:py-[60px] lg:px-[120px] lg:py-[80px] flex justify-start items-start flex-col sm:flex-row sm:gap-x-6"
    >
      <section id="viewEmployeeList" class="w-full h-auto md:min-h-screen">
        <div class="w-full h-auto flex justify-between items-start mb-4">
          <h2 class="text-lg md:text-2xl">Employee List</h2>
          <form action="/company/employee/addEdit" method="post">
            <input type="hidden" name="tableAction" value="add" />
            <button type="submit" class="btn btn-primary">+</button>
          </form>
        </div>

        <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Birthday</th>
              <th scope="col">Gender</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if(!employees || employees.length === 0){ %>
            <tr>
              <td colspan="4" class="text-center">No Employee Yet.</td>
            </tr>
            <% } else { %> <% employees.forEach(employee => { %>
            <tr>
              <td><%= employee.employee_name %></td>
              <td><%= employee.employee_birthday.toLocaleDateString() %></td>
              <td><%= employee.employee_gender %></td>
              <td
                class="flex justify-start items-center gap-x-2 gap-y-2 flex-wrap sm:flex-nowrap"
              >
                <button
                  type="button"
                  class="text-[12px] sm:text-[14px] btn btn-primary text-white viewEmployeeBtn"
                  data-company_id="<%= employee.company_id %>"
                  data-employee_id="<%= employee.employee_id %>"
                >
                  view
                </button>
                <button
                  type="button"
                  class="text-[12px] sm:text-[14px] btn btn-warning text-white viewEmployeeBtn"
                  data-company_id="<%= employee.company_id %>"
                  data-employee_id="<%= employee.employee_id %>"
                >
                  edit
                </button>
                <button
                  type="button"
                  class="deleteEmployeeBtn text-[12px] sm:text-[14px] btn btn-danger text-white"
                  data-employee-id="<%= employee.employee_id %>"
                  data-employee-name="<%= employee.employee_name %>"
                >
                  delete
                </button>
              </td>
            </tr>
            <% }); %> <% } %>
          </tbody>
        </table>
      </section>

      <section
        id="viewEmployeePlaceholder"
        class="mt-4 sm:!mt-0 h-full flex justify-center items-start rounded-2xl text-white w-full md:w-1/3 hidden"
      ></section>
    </div>

    <%- include('../partial/delete_employee_modal') %>

    <!-- scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        $(".viewEmployeeBtn").on("click", handleViewClick);
        $(".deleteEmployeeBtn").on("click", handleDeleteClick);
      });

      function handleDeleteClick() {
        const employeeId = $(this).data("employee-id");
        const employeeName = $(this).data("employee-name");
        console.log(employeeId);
        console.log(employeeName);
        $("#modalEmployeeName").text(employeeName);
        $("#deleteEmployeeModal").removeClass("hidden");

        $("#confirmDeleteEmployeeBtn")
          .off("click")
          .on("click", function () {
            $.ajax({
              url: `/company/employee/delete`,
              method: "PUT",
              contentType: "application/json",
              processData: false,
              data: JSON.stringify({
                employee_id: employeeId,
              }),
              dataType: "json",
              success: function (response) {
                console.log("employee deleted successfully:", response);
              },
              error: function (error) {
                console.error("Error deleting employee:", error);
              },
            });
            location.reload();
            $("#deleteEmployeeModal").addClass("hidden");
          });

        $("#closeEmployeeModalBtn").on("click", function () {
          $("#deleteEmployeeModal").addClass("hidden");
        });
      }

      function handleViewClick(event) {
        event.preventDefault();

        const companyId = $(this).data("company_id");
        const employeeId = $(this).data("employee_id");
        $.ajax({
          url: "/company/employee/",
          type: "POST",
          data: JSON.stringify({
            company_id: companyId,
            employee_id: employeeId,
          }),
          processData: false,
          contentType: "application/json",
          success: function (data) {
            const employeePlaceholder = $("#viewEmployeePlaceholder");

            if (data.employee) {
              employeePlaceholder.html(`
                <div class="h-full p-8 rounded-2xl bg-primary w-full  flex justify-center align-center flex-col">
                  <div class="w-full bg-red-500 h-40 mb-4">t</div>

                  <div>Name: ${data.employee.employee_name}</div>
                  <div>Birthday: ${new Date(
                    data.employee.employee_birthday
                  ).toLocaleDateString()}</div>
                  <div>Gender: ${data.employee.employee_gender}</div>
                </div>
              `);
            } else {
              employeePlaceholder.html(`
                <div class="w-full h-full flex justify-center align-center">
                  Click an employee to view details!
                </div>
              `);
            }

            $("#viewEmployeeList")
              .removeClass("w-full")
              .addClass("w-full md:w-2/3");
            employeePlaceholder.removeClass("hidden");
          },
          error: handleError,
        });
      }

      function handleError() {
        alert("Could not load employee details. Please try again.");
      }
    </script>
  </body>
</html>
