<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <%-include('../partial/scripts/include_links') %>

    <title>Employee List</title>
  </head>
  <body class="relative min-h-screen">
    <%- include('../partial/header') %>

    <div
      class="px-[24px] pt-[100px] pb-[150px] sm:px-[60px] md:px-[80px] lg:px-[120px] flex justify-start items-start flex-col xl:flex-row sm:gap-x-6"
    >
      <section id="viewEmployeeList" class="w-full h-auto ">
        <div class="w-full h-auto flex justify-between items-start mb-4">
          <h2 class="text-[20px] font-bold">Employee List</h2>
          <form action="/company/employee/addEdit" method="post">
            <input type="hidden" name="tableAction" value="add" />
            <input type="hidden" name="company_id" value="<%= id %>" />

            <button type="submit" class="btn btn-primary">+</button>
          </form>
        </div>

        <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Birthday</th>
              <th scope="col">Gender</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if(!employees || employees.length === 0){ %>
            <tr>
              <td colspan="4" class="text-center">No Employee Yet.</td>
            </tr>
            <% } else { %> <% employees.forEach(employee => { %>
            <tr>
              <td class="text-[12px] sm:text-[16px] text-nowrap">
                <%= employee.employee_name %>
              </td>
              <td class="text-[12px] sm:text-[16px]">
                <%= employee.employee_birthday.toLocaleDateString() %>
              </td>
              <td class="text-[12px] sm:text-[16px]">
                <%= employee.employee_gender %>
              </td>
              <td
                class="text-[12px] sm:text-[16px] flex justify-start items-center gap-x-2 gap-y-2 flex-nowrap"
              >
                <button
                  type="button"
                  class="text-[12px] md:text-[14px] btn btn-primary text-white viewEmployeeBtn"
                  data-company_id="<%= employee.company_id %>"
                  data-employee_id="<%= employee.employee_id %>"
                >
                  view
                </button>

                <form action="/company/employee/addEdit" method="post">
                  <input type="hidden" name="tableAction" value="edit" />
                  <input
                    type="hidden"
                    name="company_id"
                    value="<%= employee.company_id %>"
                  />
                  <input
                    type="hidden"
                    name="employee_id"
                    value="<%= employee.employee_id %>"
                  />
                  <button
                    type="submit"
                    class="text-[12px] md:text-[14px] btn btn-warning text-white"
                  >
                    edit
                  </button>
                </form>
                <button
                  type="button"
                  class="deleteEmployeeBtn text-[12px] md:text-[14px] btn btn-danger text-white"
                  data-employee-id="<%= employee.employee_id %>"
                  data-employee-name="<%= employee.employee_name %>"
                >
                  delete
                </button>
              </td>
            </tr>
            <% }); %> <% } %>
          </tbody>
        </table>
      </section>

      <section
        id="viewEmployeePlaceholder"
        class="mt-4 sm:!mt-0 h-full flex justify-center items-start rounded-2xl text-white w-full xl:w-1/3 hidden"
      ></section>
    </div>
    <%- include('../partial/footer') %> <%-
    include('../partial/delete_employee_modal') %>
    <!-- scripts -->
    <%- include('../partial/scripts/include_scripts.ejs') %>

    <script>
      $(document).ready(function () {
        $(".viewEmployeeBtn").on("click", handleViewClick);
        $(".deleteEmployeeBtn").on("click", handleDeleteClick);
      });

      function handleDeleteClick() {
        const employeeId = $(this).data("employee-id");
        const employeeName = $(this).data("employee-name");
        $("#modalEmployeeName").text(employeeName);
        $("#deleteEmployeeModal").removeClass("hidden");

        $("#confirmDeleteEmployeeBtn")
          .off("click")
          .on("click", function () {
            $.ajax({
              url: `/company/employee/delete`,
              method: "PUT",
              contentType: "application/json",
              processData: false,
              data: JSON.stringify({
                employee_id: employeeId,
              }),
              dataType: "json",
              success: function (response) {
                $("#deleteEmployeeModal").addClass("hidden");
                console.log("employee deleted successfully:", response);
              },
              error: function (error) {
                console.error("Error deleting employee:", error);
              },
            });

            setTimeout(function () {
              location.reload();
            }, 300);
          });

        $("#closeEmployeeModalBtn").on("click", function () {
          $("#deleteEmployeeModal").addClass("hidden");
        });
      }

      function handleViewClick(event) {
        event.preventDefault();
        const employeePlaceholder = $("#viewEmployeePlaceholder");
        const companyId = $(this).data("company_id");
        const employeeId = $(this).data("employee_id");
        $.ajax({
          url: "/company/employee/",
          type: "POST",
          data: JSON.stringify({
            company_id: companyId,
            employee_id: employeeId,
          }),
          processData: false,
          contentType: "application/json",
          success: function (data) {
            if (data.employee) {
              employeePlaceholder.html(`
                  <div class="shadow-md text-black h-full p-8 rounded-2xl bg-white w-full mb-8 w-full sm:w-2/3 md:w-[55%] xl:w-full flex justify-center align-center flex-col">
                    <div class="overflow-hidden w-full flex justify-center items-center h-80 xl:h-60 rounded-xl bg-white shadow-sm mb-4">
                      <img src="/${
                        data.employee.employee_picture
                      }" alt="employee_profile" class="w-full rounded-xl min-h-full">
                    </div>

                    <hr class="mb-2">

                    <div>Name : ${data.employee.employee_name}</div>
                    <div>Birthday : ${new Date(
                      data.employee.employee_birthday
                    ).toLocaleDateString()}</div>
                    <div>Gender : ${data.employee.employee_gender}</div>
                    <div>Phone  : ${data.employee.employee_phone}</div>
                  </div>
                `);

              $("#viewEmployeeList")
                .removeClass("w-full")
                .addClass("w-full xl:w-2/3 mb-4");
              employeePlaceholder.removeClass("hidden");
            }
          },
          error: handleError,
        });
      }

      function handleError() {
        alert("Could not load employee details. Please try again.");
      }
    </script>
  </body>
</html>
